<div id="game">
  <div id="score_board">

    <div id="team_one_board">
      <h2>Team One</h2>
      <div class="score"><%= @team_one_score %></div>
      <ul>
      <% @game.team_one_array.each_with_index do |member, index| %>
        <% if @round == index %>
          <li class="active"><%= member %></li>
        <% else %>
          <li><%= member %></li>
        <% end %>
      <% end %>
      </ul>
      <%= form_tag ("/game/update") do %>
        <input name="team_one_score" id="team_one" value=true hidden>
        <button id="teamOneWin" hidden>Win!</button>
      <% end %>
    </div>

    <div id="score_board_center">
      <%= content_tag "span", id: "timer", data: {time: 240} do %>00:00<% end %><br>
      <button id="start">Start</button>
      <button id="finish" hidden>Finish</button>
      <%= form_tag ("/game/update") do %>
        <button id="tie" hidden>Tie</button>
      <% end %>
    </div>

    <div id="team_two_board">
      <h2>Team Two</h2>
      <div class="score"><%= @team_two_score %></div>
      <ul>
      <% @game.team_two_array.each_with_index do |member, index| %>
        <% if @round == index %>
          <li class="active"><%= member %></li>
        <% else %>
          <li><%= member %></li>
        <% end %>
      <% end %>
      </ul>
      <%= form_tag ("/game/update") do %>
        <input name="team_two_score" id="team_two" value=true hidden>
        <button id="teamTwoWin" hidden>Win!</button>
      <% end %>
    </div>
  </div>

  <div id="questions" hidden>
    <pre id="teamOne_space">
<div class="question"><%= render @question_file %></div><div class="answer" hidden><%= render @answer_file %></div>  
    </pre>
    <pre id="teamTwo_space">
<div class="question"><%= render @question_file %></div><div class="answer" hidden><%= render @answer_file %></div>  
    </pre>
  </div>

</div>


<div class="modal fade" id="roundEnd" tabindex="-1" role="dialog" aria-labelledby="roundEndLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="roundEndContent">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h2 class="modal-title" id="roundEndLabel">Markers Down!</h2>
      </div>
      <div class="modal-body">
        Hand the marker to your next team mate.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">See Answers</button>
      </div>
    </div>
  </div>
</div>